@font-face {
    font-family: "Geometria";
    src: url("./Geometria/Geometria.eot") format("eot");
}

@font-face {
    font-family: "Geometria";
    src: url("./Geometria/Geometria.ttf") format("truetype");
}

@font-face {
    font-family: "Geometria";
    src: url("./Geometria/Geometria.woff") format("woff");
}

@font-face {
    font-family: "Geometria";
    src: url("./Geometria/Geometria.woff2") format("woff2");
}

@font-face {
    font-family: "Geometria Light";
    src: url("./Geometria/Geometria-Light.eot") format("eot");
}

@font-face {
    font-family: "Geometria Light";
    src: url("./Geometria/Geometria-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Geometria Light";
    src: url("./Geometria/Geometria-Light.woff") format("woff");
}

@font-face {
    font-family: "Geometria Light";
    src: url("./Geometria/Geometria-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Geometria Bold";
    src: url("./Geometria/Geometria-Bold.eot") format("eot");
}

@font-face {
    font-family: "Geometria Bold";
    src: url("./Geometria/Geometria-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Geometria Bold";
    src: url("./Geometria/Geometria-Bold.woff") format("woff");
}

@font-face {
    font-family: "Geometria Bold";
    src: url("./Geometria/Geometria-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Geometria ExtraBold";
    src: url("./Geometria/Geometria-ExtraBold.eot") format("eot");
}

@font-face {
    font-family: "Geometria ExtraBold";
    src: url("./Geometria/Geometria-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Geometria ExtraBold";
    src: url("./Geometria/Geometria-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Geometria ExtraBold";
    src: url("./Geometria/Geometria-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy ExtraBold";
    src: url("./Gilroy/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("./Gilroy/Gilroy-Light.otf") format("opentype");
}