$OCEAN_COLOR: #343c5b;
$WHITE_GRAY_COLOR: #f2f7fa;
$WHITE_COLOR: #FFFFFF;
$SKY_COLOR: #65aee6;
$WHITE_BLUE_COLOR: #c1d6e5;
$RED_COLOR: #f72156;
$PURPLE_COLOR: #9267a8;

$BODY_BACKGROUND: $WHITE_COLOR;
$TITLE_COLOR: $OCEAN_COLOR;
$ACTIVE_BUTTON: $OCEAN_COLOR;
$DISABLED_BUTTON: $WHITE_COLOR;
$TEXTAREA_COLOR: $WHITE_GRAY_COLOR;
$ADD_LOGO_COLOR: $SKY_COLOR;
$ACTIVE_HELP: $PURPLE_COLOR;
$ACTIVE_TYPE_PAYMENT: $PURPLE_COLOR;
$DISABLED_HELP: $WHITE_BLUE_COLOR;